.adminPage {
    height:100%;
    width:100%;
    background: #F7F9FE;
    border-radius:20px;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content :center;
    align-items:center;
}
.css-15z528p-MuiButtonBase-root-MuiButton-root{
        position: absolute!important;
        border: 0!important;
        width: 20%!important;
        color: var(--color-main)!important;
    
}
